html, body, div.hb-app {
	position: absolute;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #DEDEDE;
}

body>div.hb-app>div.banner {
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	height: 55px;
	background: #000;
	border:none;
}

body>div.hb-app>div.header {
	position: absolute;
	top:55px;
	left:0px;
	right:0px;
	height:30px;
	background: #000;
	color: #efefef;
	border:none;
	border-bottom:1px solid #EEE;
	padding-top:4px;
	font-size:1em;
	font-family: sans-serif;
}

body>div.hb-app>div.header table.app-info td  {
	text-align: right;
	padding: 0px 5px;
}

body>div.hb-app>div.header table.logon-info td  {
	text-align: right;
	padding: 0px 5px;
}

body>div.hb-app>div.header table.logon-info td>a  {
	color: inherit;
	padding: 0px 5px;
}

body>div.hb-app>div.toolbar {
	position: absolute;
	top:87px;
	left:3px;
	right:3px;
	height:60px;
	background: transparent;
	border:none;
	border-width: 0px;
}

body>div.hb-app>div.content {
	position: absolute;
	top:148px;
	left:8px;
	right:8px;
	bottom: 44px;
	background: transparent;
	border:none;
	border-width: 0px;
	overflow: hidden;
}

body>div.hb-app>div.footer {
	position: absolute;
	bottom:0px;
	left:0px;
	right:0px;
	height: 40px;
	background: transparent;
	border:none;
}
/* ------------------------------------------------------------------------------------------------------------------------------- */
/* --- DashBoard ----------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- */
div#messages-container {
	position: absolute;
	top:0px;
	left: 0px;
	width:590px;
	bottom: 0px;
	background: #FFF;
	border: 1px solid #999999;
	overflow: auto;
}

div#apps-container {
	position: absolute;
	top:1px;
	left: 600px;
	right:1px;
	bottom: 1px;
	background: #FFF;
	border: 1px solid #999999;
}

div#apps-container>div  {
	position: relative;
	-webkit-flex-direction: row;
	-webkit-display: -webkit-box; 
	-webkit-display : -webkit-flex; 
	display : -webkit-box; 
	display : -ms-flexbox; 
	display : flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

div#apps-container>div>a{
  padding: 5px 20px 5px 5px;
  margin: 10px;
  border:1px solid #333333;
  min-height: 58px;
}

.list-group-item.ndms-image-button {
	line-height: 1em;
}

.list-group-item.ndms-image-button span {
	
}

.list-group-item.ndms-image-button img {
	margin-top: -4px;
	margin-left: -5px;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */