div.search-form.advanced {
	top: 3px;
	height: 125px;
	max-height: 125px;
}

div.hb-search>div.search-results.advanced, 
div.hb-search.no-toolbar>div.search-results.advanced {
	top: 167px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: 1px solid #999999;
}

div.hb-search.no-toolbar>div.search-results.advanced {
	top: 132px;
}

div.form-container.search-form.simple .control-label,
div.form-container.search-form.advanced .control-label {
	width: 150px;
}

.edit-form {
	margin-bottom:100px;
}

.edit-form .control-label {
	width: 150px;
}