div.search-form, div.search-results {
	position: absolute;
	left: 3px;
	right: 3px;
}

div.search-form {
	top: 3px;
	height: 120px;
}

div.search-results {
	top: 126px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: 1px solid #999999;
}

div.form-container.search-form .control-label {
	width: 100px;
}